body,ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.wrapper{
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background: #000;
    margin: 100px auto 0;
    overflow: hidden;
}
.box{
    position: relative;
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50%;
    margin: 50px auto;
}
.box li{
    position: absolute;
    top: 0;
    left: 90px;
    width: 20px;
    height:30px;
    line-height: 30px;
    text-align: center;
    transform-origin: 10px 100px;
    /* transform: rotatez(30deg); */
}
.box li span{
    display: inline-block;
}
.box div{
    position: absolute;
    left: 50%;
    /* transform: translateX(-50%); */
}
.shi{
    width: 4px;
    height: 50px;
    top: 48px;
    background: #000;
    margin-left: -2px;
    transform-origin: 2px 50px;
    transform: rotateZ(60deg);
}
.feng{
    width: 2px;
    height: 80px;
    top: 18px;
    margin-left: -1px;
    background: #000;
    transform-origin: 1px 81px;
    transform: rotateZ(30deg);
}
.miao{
    width: 1px;
    height: 90px;
    background: rgb(58, 209, 95);
    margin-left: -0.5px;
    top: 12px;
    transform-origin: 0.5px 85px;
    transform: rotateZ(90deg);
}